@model SmartGameStatTrackingWebApp.Models.Game

<script type="text/javascript" src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/css/table.css" />

@{
    ViewBag.Title = Model.awayTeam + " @ " + Model.homeTeam;
}

<p>
    @if (User.Identity.Name != "colin" || User.Identity.Name != "stephan")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.id })
    }
    @Html.ActionLink("Back to Games", "Index")
</p>

@if (User.Identity.Name != "colin" || User.Identity.Name != "stephan")
{
    <script type="text/javascript">
    var homeTeamName = @Html.Raw(Json.Encode(Model.homeTeamID));
    var gameID = @Html.Raw(Json.Encode(Model.id));
    $.ajax({
        type: 'POST',
        url: '/Players/GetTeamPlayers',
        datatype: 'json',
        data: {
            teamID: homeTeamName,
            gameID: gameID
        },
        success: function (data) {
            console.log(data);
            for (i = 0; i < data.length; i++) {
                    $('.BoxScoreHome tr:last').after('<tr><th>' + data[i].number + '<th>' + data[i].player + '</a></th>' +
                        '<th>' + data[i].points + '</th><th>' + data[i].rebounds + '</th><th>' + data[i].assists + '</th><th>' + data[i].blocks + '</th><th>' + data[i].steals
                        + '</th><th>' + data[i].turnovers + '</th>' + '<th>' + data[i].personalFouls + '</th><th>' + data[i].technicalFouls + '</th><th><a href="/BoxScores/Edit/' +
                        data[i].id + '" class="btn btn-primary-active">Edit</a></th>');
            }
        }
    });

    var awayTeamName = @Html.Raw(Json.Encode(Model.awayTeamID));
    $.ajax({
        type: 'POST',
        url: '/Players/GetTeamPlayers',
        datatype: 'json',
        data: {
            teamID: awayTeamName,
            gameID: gameID
        },
        success: function (data) {
            for (i = 0; i < data.length; i++) {
                    $('.BoxScoreAway tr:last').after('<tr><th>' + data[i].number + '<th>' + data[i].player + '</a></th>' +
                        '<th>' + data[i].points + '</th><th>' + data[i].rebounds + '</th><th>' + data[i].assists + '</th><th>' + data[i].blocks + '</th><th>' + data[i].steals
                        + '</th><th>' + data[i].turnovers + '</th>' + '<th>' + data[i].personalFouls + '</th><th>' + data[i].technicalFouls + '</th><th><a href="/BoxScores/Edit/' +
                        data[i].id + '" class="btn btn-primary-active">Edit</a></th>');
            }
        }
    });
    </script>
}
else
{
    <script type="text/javascript">
    var homeTeamName = @Html.Raw(Json.Encode(Model.homeTeamID));
    var gameID = @Html.Raw(Json.Encode(Model.id));
    $.ajax({
        type: 'POST',
        url: '/Players/GetTeamPlayers',
        datatype: 'json',
        data: {
            teamID: homeTeamName,
            gameID: gameID
        },
        success: function (data) {
            console.log(data);
            for (i = 0; i < data.length; i++) {
                    $('.BoxScoreHome tr:last').after('<tr><th>' + data[i].number + '<th>' + data[i].player + '</a></th>' +
                        '<th>' + data[i].points + '</th><th>' + data[i].rebounds + '</th><th>' + data[i].assists + '</th><th>' + data[i].blocks + '</th><th>' + data[i].steals
                        + '</th><th>' + data[i].turnovers + '</th>' + '<th>' + data[i].personalFouls + '</th><th>' + data[i].technicalFouls + '</th>');
            }
        }
    });

    var awayTeamName = @Html.Raw(Json.Encode(Model.awayTeamID));
    $.ajax({
        type: 'POST',
        url: '/Players/GetTeamPlayers',
        datatype: 'json',
        data: {
            teamID: awayTeamName,
            gameID: gameID
        },
        success: function (data) {
            for (i = 0; i < data.length; i++) {
                    $('.BoxScoreAway tr:last').after('<tr><th>' + data[i].number + '<th>' + data[i].player + '</a></th>' +
                        '<th>' + data[i].points + '</th><th>' + data[i].rebounds + '</th><th>' + data[i].assists + '</th><th>' + data[i].blocks + '</th><th>' + data[i].steals
                        + '</th><th>' + data[i].turnovers + '</th>' + '<th>' + data[i].personalFouls + '</th><th>' + data[i].technicalFouls + '</th>');
            }
        }
    });
    </script>
}


<div class="jumbotron" style="border:solid;width:100%;border-radius:25px;border-color:darkslategray;background-color:white;">
    <div class="gameDate" style="text-align:center; font-size:24px;">
        @Html.DisplayFor(model => model.gameDate)
    </div>
    <div class="row">
        <div class="awayTeam col-md-4" style="text-align:center;font-size:24px;">
            @Html.DisplayFor(model => model.awayTeam)
            <div style="text-align:center;font-size:36px;">
                @Html.DisplayFor(model => model.awayPoints)
            </div>
        </div>
        <div class="col-md-4">
            <div style="text-align:center;font-size:36px;">
                @@
            </div>
        </div>
        <div class="homeTeam col-md-4" style="text-align:center;font-size:24px;">
            @Html.DisplayFor(model => model.homeTeam)
            <div style="text-align:center;font-size:36px;">
                @Html.DisplayFor(model => model.homePoints)
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-4">
            <h6 style="font-size:32px;">
                @Html.DisplayFor(model => model.awayTeam)
            </h6>
            <div style="overflow-x:scroll;">
                <table class="BoxScoreAway table table-responsive">
                    <tr class="head">
                        <th>
                            Number
                        </th>
                        <th>
                            Player
                        </th>
                        <th>
                            PTS
                        </th>
                        <th>
                            REB
                        </th>
                        <th>
                            AST
                        </th>
                        <th>
                            BLK
                        </th>
                        <th>
                            STL
                        </th>
                        <th>
                            T/O
                        </th>
                        <th>
                            PFs
                        </th>
                        <th>
                            TFs
                        </th>
                        @if (User.Identity.Name != "colin" || User.Identity.Name != "stephan")
                        {
                            <th></th>
                        }
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h6 style="font-size:32px;">
                @Html.DisplayFor(model => model.homeTeam)
            </h6>
            <div style="overflow-x:scroll;">
                <table class="BoxScoreHome table table-responsive">
                    <tr class="head">
                        <th>
                            Number
                        </th>
                        <th>
                            Player
                        </th>
                        <th>
                            PTS
                        </th>
                        <th>
                            REB
                        </th>
                        <th>
                            AST
                        </th>
                        <th>
                            BLK
                        </th>
                        <th>
                            STL
                        </th>
                        <th>
                            T/O
                        </th>
                        <th>
                            PFs
                        </th>
                        <th>
                            TFs
                        </th>
                        @if (User.Identity.Name != "colin" || User.Identity.Name != "stephan")
                        {
                            <th></th>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
