@model IEnumerable<SmartGameStatTrackingWebApp.Models.Game>

@{
    ViewBag.Title = "Games";
}

<link rel="stylesheet" type="text/css" href="~/Content/css/table.css" />

@if (User.Identity.Name == "colin")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div style="overflow-x:scroll;">
    <table class="table">
        <tr class="head">
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.gameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.awayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.homeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.awayPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.homePoints)
            </th>
            @if (User.Identity.Name == "colin")
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink("Box Score", "Details", new { id = item.id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gameDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.awayTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.homeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.awayPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.homePoints)
            </td>
            @if (User.Identity.Name == "colin")
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            }
        </tr>
        }

    </table>
</div>

