@model SmartGameStatTrackingWebApp.Models.BoxScore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BoxScore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gameid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gameid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.player)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teamID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teamID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playerid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.playerid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rebounds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rebounds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blocks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blocks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.steals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.steals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.turnovers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turnovers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personalFouls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personalFouls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technicalFouls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technicalFouls)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
