@model SmartGameStatTrackingWebApp.Models.Team

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript" src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    var teamName = @Html.Raw(Json.Encode(Model.Name));
    $.ajax({
        type: 'POST',
        url: '/Players/GetTeamPlayers',
        datatype: 'json',
        data: {
            teamName: teamName
        },
        success: function (data) {
            console.log(data);
            alert(data);
        }
    })
</script>

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.season)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Players)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Players)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
