@model IEnumerable<SmartGameStatTrackingWebApp.Models.Team>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="~/Content/css/table.css" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="head">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.losses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.season)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.losses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.season)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
