@model SmartGameStatTrackingWebApp.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gamesPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gamesPlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rebounds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rebounds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blocks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blocks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.steals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.steals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.turnovers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turnovers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personalFouls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personalFouls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technicalFouls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technicalFouls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.season)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.id })
    @Html.ActionLink("Back to List", "Index")
</p>
